---
import { Image } from "astro:assets";
import "../../../styles/carousel.css";
import Fama from "../../../images/fama.png";
import Graham from "../../../images/graham.png";
import Kahneman from "../../../images/kahneman.png";
import Shannon from "../../../images/shannon.png";
---

<div class="wrapper">
  <div class="boxes">
    <Image src={Fama} class="box" alt="" />
    <Image src={Graham} class="box" alt="" />
    <Image src={Kahneman} class="box" alt="" />
    <Image src={Shannon} class="box" alt="" />
    <Image src={Fama} class="box" alt="" />
    <Image src={Graham} class="box" alt="" />
    <Image src={Kahneman} class="box" alt="" />
    <Image src={Shannon} class="box" alt="" />     
</div>
<script type="module" src="/src/scripts/carousel.js"></script>