---
import "@fontsource-variable/inter/opsz.css";
import "@fontsource-variable/source-serif-4/opsz.css";
import { getCollection } from "astro:content";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import PostCard from "../components/PostCard.astro";
import "../styles/global.css";

// import type { ArticleFrontmatter } from "../types";
// import { type CollectionEntry } from "astro:content";

// interface Props {
//   post: CollectionEntry<"notes">;
//   headings: import("astro").MarkdownHeading[];
//   frontmatter: ArticleFrontmatter
// }

const allPosts = await getCollection("notes");
// const filteredPosts = allPosts.filter((post: any) => post.data.tags?.includes(tag));
const tags = allPosts.map((post: any) => post.data.tags).flat();
const uniqueTags = [...new Set(tags)];

---

<html class='lang="en"'>
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
    <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <script is:inline src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script is:inline src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
    <script is:inline src="https://cdn.jsdelivr.net/npm/lenis@1.1.14/dist/lenis.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/lenis@1.1.14/dist/lenis.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 " />
    <meta name="generator" content={Astro.generator} />
    <title>Michael Gauci | Notes</title>
  </head>
  <body class="dark-cursor scroll-smooth bg-secondary text-primary selection:bg-primary selection:text-secondary">
    <div id="smooth-wrapper">
      <div id="smooth-content">
        <div class="grid min-h-screen grid-rows-[auto_1fr] md:mx-32">
          <div id="header-row" class="light-cursor sticky top-0 z-20 overflow-hidden bg-primary text-secondary selection:bg-secondary selection:text-primary">
            <Header />
            <div id="collapse-header" class="p-4 pb-6 pt-8 md:p-12 md:pt-4">
              <h1 class="block font-serif text-serif-md">Notes</h1>
              <div class="grid grid-cols-2 pt-4 font-sans text-sans-md font-normal">
                <span class="col-span-1">These are living notes. Most of them are incomplete by design, prioritising the capture of new insights over point-in-time conclusions. For this reason, readers should treat them as open-ended explorations, rather than polished articles, with the understanding that there’s always more to discover on a certain topic.
                </span>
                <div>
                  {uniqueTags.map((tag: string) => (
                  <a href=`#${tag}`>
                  <button data-type={tag} class="box-btn w-fit whitespace-nowrap" id="tagFilter">{tag}</button>
                  </a>
                  ))}
                </div>
              </div>
            </div>
          </div>
          <div class="flex justify-center gap-8">
            {allPosts.map((post: any) => <PostCard {post} />)}
          </div>
        </div>
        <div class="mx-4 pb-12 md:mx-32 md:pb-0">
          <Footer footerTheme="dark" />
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/scripts/SmoothScrolling.js"></script>
    <script type="text/javascript" src="/scripts/Modal.js"></script>
    <script type="text/javascript" src="/scripts/ScrollbackHeader.js"></script>
    <script type="text/javascript" src="/scripts/visited.js"></script>
    <script type="text/javascript" src="/scripts/TagFilter.js"></script>
  </body>
</html>
