---
import "@fontsource-variable/inter/opsz.css";
import "@fontsource-variable/source-serif-4/opsz.css";
import ContextMenu from "../components/ContextMenu.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";

const { post, headings } = Astro.props;
const frontmatter = post.data;
---

<html class='lang="en"'>
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
    <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <script is:inline src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script is:inline src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
    <script is:inline src="https://cdn.jsdelivr.net/npm/lenis@1.1.14/dist/lenis.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/lenis@1.1.14/dist/lenis.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.0/dist/katex.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 " />
    <meta name="generator" content={Astro.generator} />
    <title>Michael Gauci | {frontmatter.title}</title>
  </head>
  <body class="dark-cursor scroll-smooth bg-secondary text-primary selection:bg-primary selection:text-secondary">
    <div id="smooth-wrapper">
      <div id="smooth-content">
        <div class="grid min-h-screen grid-cols-1 md:mx-32 md:grid-rows-[auto_1fr]">
          <div id="header-row" class="light-cursor sticky top-0 z-20 select-none overflow-hidden bg-primary text-secondary">
            <Header />
            <div id="collapse-header" class="p-4 pb-6 pt-8 md:p-12 md:pt-4">
              <span class="block font-serif text-serif-md">{frontmatter.title}</span>
              <div class="flex gap-8 pt-4 font-sans text-sans-md font-normal">
                <span class="whitespace-nowrap">Published {frontmatter.created.formatted}</span>
                <span class="whitespace-nowrap">Updated {frontmatter.updated.formatted}</span>
              </div>
            </div>
          </div>
          <div id="content" class="mx-4 mt-4 items-center text-left md:mx-0 md:mt-12 md:flex-row md:items-start">
            <div class="justify-center gap-8 md:flex">
              <div id="markdown-content" class="prose-a:hyperlink-dark prose-li:p:text-xs prose-footnotes:text-sm prose pb-24 prose-h2:font-serif prose-h2:text-serif-sm prose-h2:text-primary prose-h3:font-serif prose-h3:text-serif-xs prose-h3:text-primary prose-p:text-sans-md prose-p:font-normal prose-p:text-primary prose-strong:text-sans-md prose-strong:font-bold prose-strong:text-primary prose-code:before:content-none prose-code:after:content-none prose-li:text-sans-md prose-li:font-normal prose-li:text-primary prose-li:marker:text-xs prose-li:marker:text-primary md:flex-1">
                <slot />
              </div>
              <div id="context-menu" class="hidden shrink-0 md:block">
                <div class="fixed">
                  <ContextMenu headings={headings} levels={3} />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mx-4 pb-12 md:mx-32 md:pb-0">
          <Footer footerTheme="dark" />
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/scripts/SmoothScrolling.js"></script>
    <script type="text/javascript" src="/scripts/ContextMenu.js"></script>
    <script type="text/javascript" src="/scripts/Modal.js"></script>
    <script type="text/javascript" src="/scripts/ScrollbackHeader.js"></script>
  </body>
</html>
